<div class="container">
  <input type="search" class="form-control" placeholder="Search for articles" />

  <div class="d-flex justify-content-between mt-2">
    <input type="search" class="form-control tag-input" placeholder="Tags" />

    <select name="filter" id="filter" class="filter-input">
      <option value="test">Test</option>
    </select>
  </div>

  <hr />

  <div class="d-flex justify-content-end mb-2">
    <a [routerLink]="['add']" class="btn"><i class="fas fa-plus"></i></a>
  </div>

  <section class="article-list">
    <app-search-article
      *ngFor="let article of articles"
      [article]="article"
    ></app-search-article>
  </section>
</div>
